*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.top{
    
    background-color: black;
   
    display: flex;
   
}
.row{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    float: left;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width:100%;}

[class*="col-"]{
    float: left;
}

.logo{
    flex: 4;
    color:white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}
.nav{
    flex: 1;

}
.nav>ul{
    list-style-type: none;
    display: flex;
}
.nav>ul>li{
    flex: 1;
    margin-right: 10px;

}
.nav>ul>li>a{
    color: gray;
    text-decoration: none;
    padding: 15px;
}
.active>a{
    color: white !important;
}
.banner{
  
    background-color: rgb(245, 237, 237);
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px; 
}
button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    /* padding:10px; */
}
.card{
    padding: 5px;
    margin-top: 50px;
}
.card-content{
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;

}
.card-content>img{
    width: 100%;
}
.card-content>h1{
    text-align: center;
}
.card-footer{
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .row{
        padding-right: 0;
        padding-left: 0;
    }
    .top{
        flex-direction: column;
        text-align: center;
       
       
    }
    .nav>ul{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .card{
        width: 50%
    }

} 

@media only screen and (max-width:600px){
.row{
    padding-right: 0;
    padding-left: 0;
}
.top{
    flex-direction: column;
    text-align: center;
   
   
}
.nav>ul{
    width: 100%;
    flex-direction: column;
    text-align: center;
}
.card{
    width: 100%
}
}


